body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-weight: 600;
    font-size: 70px;
    margin-bottom: 10px;
}

.subheader {
    font-size: 30px;

}

.u {
    text-decoration: underline;
}